.DS_STORE
iOS/DayKeeperApp.xcodeproj/project.xcworkspace/xcuserdata
iOS/DayKeeperApp.xcodeproj/project.pbxproj
iOS/DayKeeperApp.xcodeproj/xcuserdata/garret.xcuserdatad/xcschemes/xcschememanagement.plist
iOS/DayKeeperApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
